{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <br>
    <h2>{{ member.title() }}</h2>
    <br>
    <form action="{{ url_for( 'result', group=group, member=member ) }}" method="POST">

      <div class="form-group">
        <label for="equation">Persamaan</label>
        <input type="text" class="form-control" id="equation" placeholder="Persamaan" name="persamaan" required>
        <small class="form-text text-muted">Contoh : 4x^3 + 7x + 3</small>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="a">Batas Bawah</label>
          <input type="text" class="form-control" id="a" placeholder="Batas Bawah" name="batas_bawah" required>
        </div>
        <div class="form-group col-md-6">
          <label for="b">Batas Atas</label>
          <input type="text" class="form-control" id="b" placeholder="Batas Atas" name="batas_atas" required>
        </div>
      </div>

      <div class="form-group">
        <label for="h">Ukuran Langkah</label>
        <input type="text" class="form-control" id="h" placeholder="Ukuran Langkah" name="ukuran_langkah" required>
      </div>

      <br>

      <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>
  </div>
{% endblock %}